<mat-toolbar>
  <span>SkyRocket</span>
  <span>&nbsp;</span>
  <mat-icon matSuffix>work</mat-icon>
  <span class="h-spacer"></span>
  <a *ngIf="!userService.isLoggedIn" mat-stroked-button color="primary" href="/login">Login</a>
  <div *ngIf="userService.isLoggedIn">
    <span>Logged in as {{ userService.firstname }} {{ userService.lastname }}</span>
    <a mat-stroked-button color="primary" href="/profile">Profile</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer-spacer"></div>

<mat-toolbar class="center fixed-bottom">
  <span class="mh-auto">&copy; 2021 SkyRocket</span>
</mat-toolbar>
