.header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  background-image: url('https://static.skyrocket.projectexchange.org/img/zakynthos-1583127_1920.jpg')
  background-position: center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover

.header-search
  margin: 100px
  padding: 100px 200px
  border-radius: 20px
  background-color: rgba(255, 255, 255, 0.932)

.header-search-form
  min-width: 150px
  width: 100%

.header-search-input
  width: 100%

@media (min-width: 1390px)
  .header-search-input
    margin: 0 5px
    width: 250px

.header-search-button
  padding: .5rem 3rem

.mt-2
  margin-top: 2rem

.mb-2
  margin-bottom: 2rem

.container
  margin: 3em auto
  max-width: 1000px

.example-card
  max-width: 400px

.text-align-center
  text-align: center

.display-inline-block
  display: inline-block

.content
  padding: 16px

.content
  mat-card
    width: 200px
