<div class="content">
  <div class="content-book">
    <h3><em>Rusten Sie nicht aus wegen teuerer Flüge ...</em></h3>
    <h1 class="mb-2">
      Buchen Sie günstige Flüge mit <strong>SkyRocket</strong>
    </h1>
    <div class="content-use-width"></div>
    <div class="content-book-form">
      <mat-stepper orientation="vertical" linear="true" #stepper>
        <!-- flight data check -->
        <mat-step>
          <ng-template matStepLabel>General: Check your flight data</ng-template>
          <mat-list>
            <mat-list-item
              >Destination&emsp;<strong>{{ bookingService.arrival }}</strong></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item
              >Departure&emsp;<strong>{{ bookingService.departure }}</strong></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item
              >Date from/to&emsp;<strong
                >{{ dateDeparture }} - {{ dateArrival }}</strong
              ></mat-list-item
            >
          </mat-list>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <!-- flight selection -->
        <mat-step [stepControl]="bookFormStep1">
          <form [formGroup]="bookFormStep1">
            <ng-template matStepLabel>General: Select your flight</ng-template>
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Flight</mat-label>
                <mat-select name="flight" formControlName="flight">
                  <mat-option
                    *ngFor="let offer of offers"
                    [value]="offer.id"
                  >
                    {{ offer.departureIcao }} → {{ offer.arrivalIcao }} ({{ offer.price }} {{ offer.currency }}, {{ offer.occupied }}/{{ offer.seats }} seats occupied)
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Amount of seats</mat-label>
                <input
                  matInput
                  formControlName="seats"
                  placeholder="Seats"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- firstname and lastname -->
        <mat-step [stepControl]="bookFormStep2">
          <form [formGroup]="bookFormStep2">
            <ng-template matStepLabel>Payment: Check your name</ng-template>
            <mat-form-field class="content-book-input" appearance="fill">
              <mat-label>Firstname</mat-label>
              <input
                matInput
                formControlName="firstname"
                placeholder="Firstname"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Lastname</mat-label>
              <input
                matInput
                formControlName="lastname"
                placeholder="Lastname"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- address selection -->
        <mat-step [stepControl]="bookFormStep3">
          <form [formGroup]="bookFormStep3">
            <ng-template matStepLabel>Payment: Select your address</ng-template>
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <mat-select name="address" formControlName="address">
                  <mat-option
                    *ngFor="let address of addresses"
                    [value]="address.id"
                  >
                    {{ address.street }} {{ address.houseNumber }},
                    {{ address.postalCode }} {{ address.town }} {{ address.country }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- payment selection -->
        <mat-step>
          <ng-template matStepLabel>Payment: Select your payment service</ng-template>
          <div class="form-field-group">
            <br />
            <button mat-flat-button color="warn" deactivated>Visa</button>
            <span>&nbsp;</span>
            <button mat-flat-button color="warn" deactivated>Mastercard</button>
            <span>&nbsp;</span>
            <button mat-flat-button color="warn" deactivated>PayPal</button>
            <br /><br />
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Final step: Booking</ng-template>
          <br />
          <p>Payment successfully performed.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-flat-button color="primary" (click)="bookNow()">
              Book now
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
