[mariadb]
########## encryption-at-rest ##########
# enable storage encryption
plugin_load_add = file_key_management
# specify encrypted keyfile and password
loose_file_key_management_filename = /etc/mysql/encryption/keyfile.enc
loose_file_key_management_filekey = FILE:/etc/mysql/encryption/keyfile.key
# also encrypt temporary files
encrypt_tmp_files = 1

########## encryption-in-transit ##########
tls_version = TLSv1.3
ssl_cert = /etc/ssl/mysql/server-cert.pem
ssl_key = /etc/ssl/mysql/server-key.pem
ssl_ca = /etc/ssl/mysql/ca-cert.pem
